<% if notice %>
  <div data-alert id="notice_id" class="alert-box success">
    <%= notice %><a href="#" class="close">&times;</a>
  </div>
<% end %>

<% if alert %>
  <div data-alert id="notice_id" class="alert-box alert">
    <%= alert %><a href="#" class="close">&times;</a>
  </div>
<% end %>