<ul>
<li><%= link_to 'Vouchers', rahasia_vouchers_path %></li>
<li><%= link_to 'Coupons', rahasia_coupons_path %></li></ul>
<h1>Rahasia::Dashboard#index</h1>
<p>Find me in app/views/rahasia/dashboard/index.html.erb</p>


