<h1>Welcome <%= "#{current_user.username}" %></h1>
<h3>What do you want to do today?</h3>


<p>Please select the corresponding menu from the navigation above. Meanwhile, here's some random cat to cheer up your day..</p>

<a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif"></a>